<<<<<<< Updated upstream
<<<<<<< HEAD
/* ALL_CONVERSATION PAGE  STYLE START  */
=======
>>>>>>> Stashed changes
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
   background-color: #f2f1f1;
   bac
}

header nav{
    background: linear-gradient(90deg, rgba(107,110,226,1) 49%, rgba(170,71,235,0.6311566863073355) 98%);
   min-height: 60px;
   width: 100%;
    
}
header nav .nav_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .nav_item .project_logo{
 margin-left:65px;
 margin-top: 7px;
}

header nav .nav_item .project_logo img{
   height: 45px;

}
header nav .nav_item .profile_section{
    display:  flex;
    align-items: center;
    
}
header nav .nav_item .profile_section .profile{
    margin-right:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav .nav_item .profile_section .profile img{
   border-radius: 50%;
   box-sizing: border-box;
     height: 30px;
     margin-top: 8px;

}
header nav .nav_item .profile_section .profile span{
  margin-left:10px;
  margin-top: 15px;
  color: white;
}
header nav .nav_item .profile_section .logOutbtn{
 /* background-color: red; */
 margin-right: 100px;
 margin-top: 14px;
 color:white;
}
header nav .nav_item .profile_section .logOutbtn img{
    height: 25px;
    width: 35px;
    

}
#group_header{
  display:flex;
  justify-content: center;
  align-items: center;
}
header hr{
    margin-top:-10px;
}
#group_header h3{
  font-size: 20px;
  position: relative;
}
#group_header h3::after{
 content: "";
 position: absolute;
 width: 300%;
 height: 5px;
 background: linear-gradient(90deg, rgba(107,110,226,1) 49%, rgba(170,71,235,0.6311566863073355) 98%);
 margin-left:-200%;
 margin-top: 30px;
 border-radius: 5px;
}
header .container,
section .container
{
    
}
header .container .group_list,
section .container .group_list{
 /* background-color: red; */
 width:65vw;
 margin:auto;
}
header .container .group_list .groups,
section .container .group_list .groups{
 margin-left: 20px;
 margin-top: 20px;
}

header .container .group_list .groups .group,
section .container .group_list .groups .group{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
header .container .group_list .groups .group .group_description,
section .container .group_list .groups .group .group_description{
 display: flex;
 justify-content: space-around;
 align-items: center;
}

header .container .group_list .groups .group .group_description .group_logo,
section .container .group_list .groups .group .group_description .group_logo{

}

header .container .group_list .groups .group .group_description .group_logo img,
section .container .group_list .groups .group .group_description .group_logo img{
 width:40px;
}
header .container .group_list .groups .group .group_description .group_details,
section .container .group_list .groups .group .group_description .group_details{
    margin-left: 20px;
    /* background-color: green; */
    /* height: 80px; */

}

header .container .group_list .groups .group .group_description .group_details .group_name,
section .container .group_list .groups .group .group_description .group_details .group_name{

    font-size: 22px;
}

header .container .group_list .groups .group .group_description .group_details .last_msg,
section .container .group_list .groups .group .group_description .group_details .last_msg{

    margin-top: -25px;
    color:black;
}
header .container .group_list .groups .group .last_msg_time,
section .container .group_list .groups .group .last_msg_time{

}
<<<<<<< Updated upstream
/* ALL CONVERSATION  style PAGE END  */
=======
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Roboto, Calibri, sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    outline: none;
    border: 1px solid #333;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    padding: 5rem;
    margin: 0 auto;
}
=======
>>>>>>> Stashed changes


.container_box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   

}
.left_side{
    width: 40%;
    background-color: #E2DFDF;
    overflow: hidden;
}

.right_side{

    
    position: relative;
    height: 100vh;
    width: 60%;
   
    display: flex;
    flex-direction: column;
}

.right_side hr{
    color: #999999;
    width: 100%;
    margin-bottom:2px ;
    
}
.right_header{
    display: flex;
    margin-left: 20px;
    margin-top: 4px;
}
.head_image img
{
    height: 45px;
    width: 45px;
    
}

.sender_image img,
.receiver_image img
{
    height: 42px;
    width: 45px;
    border-radius: 50%;
    box-sizing: border-box;
     margin-top: 7px;
}

.right_container{
    margin-top: 30px;
    margin-left: 20px;
display: flex;
flex-direction: column;
}
.sender,
.receiver
{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    

    
}
.message_details{
    flex-direction: column;
    color: #9C9A9A;
    margin-left: 20px;
   
    

}
.message_details .message{
     background-color: #F0ECEC;
     border-radius: 10px;
}
.nick_name{
    margin-bottom: 0;
}


  .message_details .nick_name{
      font-size: 12px;
  }
  .message_details .message{
      margin:0;
      font-size: 17px;
      font-weight: 200px;
      color: #696464;

  }
  .time_date{
      margin-top: 0;
      font-size: 10px;
  }
  
 .seen img{
     margin-top: 32px;
     margin-left: 9px;
 }
 .receiver {
     margin-left: 65%;
 }
 
 .message_typing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .type_info{
     display: flex;
     flex-direction: row;
     position: relative;

 }
 .typing_check{
     color:#00000063 ;
     margin-bottom: 2px;
 }
 .type_box input[type=text]{
     position: relative;
  width: 42rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #8d8b8e5b;

}
.sent_logo{
    margin-left: 10px;
    margin-top: 10px;
}